[url "https://github.com/"]
  insteadOf = git@github.com:
[url "git@github.com:"]
  insteadOf = https://github.com/
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = ~/.gitignore_global
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
