#!/bin/bash
set -euo pipefail
{{ if eq .chezmoi.os "darwin" -}}
# Homebrew PATHを設定
eval "$(/opt/homebrew/bin/brew shellenv)"

# Brewfileからインストール
if [ -f "{{ .chezmoi.sourceDir }}/Brewfile" ]; then
    echo "Installing packages from Brewfile..."
    brew bundle install --file="{{ .chezmoi.sourceDir }}/Brewfile"
fi
{{ end -}}
