[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[core]
  editor = vim
  pager = delta
  excludesfile = ~/.config/git/ignore

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true

[diff]
  algorithm = histogram
  colorMoved = default
  mnemonicPrefix = true
  renames = true

[merge]
  conflictstyle = zdiff3

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[commit]
  template = ~/.config/git/commit_template
  verbose = true

[help]
  autocorrect = prompt

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[interactive]
  diffFilter = delta --color-only

[pager]
  blame = delta

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[alias]
  # 複雑なコマンド（シンプルなものはFish abbrで定義）
  unstage = reset HEAD --
  last = log -1 HEAD
  graph = log --graph --oneline --decorate --all

{{ if eq .chezmoi.os "darwin" -}}
[credential]
  helper = osxkeychain
{{ end -}}

{{ if .isWork -}}
# 仕事用マシン固有設定
[http]
  # proxy = http://proxy.company.com:8080
{{ end -}}
